<%= form_with(model: subject, class: "d-grid gap-2 col-6 mx-auto my-4") do |form| %>
  <% if subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :evaluation, class: "form-label" %>
    <%= form.select(:evaluation, ["S", "A", "B", "C" ,"D", "E", "F"], {}, {class: "form-select"}) %>
  </div>

  <div class="mb-3">
    <%= form.label :unit_value, class: "form-label" %>
    <%= form.number_field :unit_value, class: "form-control" %>
  </div>

  <div class="mb-3 text-center">
    <%= form.submit nil, class: "btn btn-outline-success" %>
  </div>
<% end %>
