<% provide(:page_title, "科目一覧") %>

<div class="subject-list">
  <h2 class="text-center my-2">科目一覧</h2>

  <div class="d-grid gap-2 col-6 mx-auto my-4">
    <%= link_to "科目の追加", new_subject_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">科目名</th>
        <th scope="col">評価</th>
        <th scope="col">単位数</th>
        <th scope="col">変更</th>
      </tr>
    </thead>

    <tbody>
      <% @subjects.each_with_index do |s, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= s.name %></td>
          <td><%= s.evaluation %></td>
          <td><%= s.unit_value %></td>
          <td><%= link_to "編集", edit_subject_path(s) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
